
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.banner{
	width: 80%;
	height: 600px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

.banner video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background: white;
		text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
		color: #333232;
	mix-blend-mode: screen;
	
}

.main h1{
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 15px;
	
	
}
.main .kabita{
	font-size: 25px;
	font-weight: bold;
	
}
header{
	background-image: linear-gradient(#008b8b,#009F78,#0080AA)
}
.dance{
	align-items: center;
	margin: auto;
	width: 300px; 
	padding: 0;
	margin-bottom: 15px;
	
	}

.dance p{
	font-size: 12px;
	font-weight: bold;
	line-height: 10px;
	color: black;
	background: url(gir.gif) no-repeat;
		background-position: center;
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	
}


.call{
	width: 100px;
	height: 25px;
	border-radius: 40px;
	
}
 p a{
	 	text-decoration: none;
 }
 .pari button{
	 width: 150px;
	 height: 40px;
	 background-color: white;
	 
	 border: none;
	 border-radius: 40px;
	 color: black;
	 font-weight: bold;
	 font-size: 20px;
	margin: auto;
	align-items: center;
	margin-bottom: 15px;
	left: 0px;
	right: 0px;
	transform: translate(-50% -50%);
	justify-content: center;
	display: flex;


 }

 .pari button:hover{
	 color: white;
	 background-color: orangered;
	 width: 150px;
	 height: 40px;
	 border-radius: 40px 6px 40px 6px;
 }

.modal{
	color: #008b8b;

}

.modal p{
	text-align: center;
}
 h3{
	 text-align: center;
	 left: 0;
	 right: 0;
	 margin-bottom: 10px;
	 color: white;
 }

 .container{
left: 0px;
right: 0px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

 .countdown{
    
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;

background: #008b8b;
box-shadow: 5px 10px 20px white inset;
border-radius: 50px;
color: yellow;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
box-shadow: 3px 7px 15px white inset;
background: #008b8b;
border-radius: 50px;
color: yellow;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}

.such{
	left: 0px;
    right: 0px;
    text-align: center;
	margin-bottom: 20px;
}

.maha{
    margin-left: 10px;
	text-align: left;
	color: white;
}

.anusthan{
	margin-bottom: 10px;
	color: white;
}


.map{
        margin-bottom: 10px;
}

.aag{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-indent: 30px;
	color: white;
}

 .bin{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 25px;
	color: white;
}

footer{
    width: 100%;
    height: 77px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #474646;
    color: #282727;
    margin-bottom: 0px;
    
    padding: 2px;
}

footer p{
	color: #5ED5FC;
}